body{
  background-color: rgb(86, 118, 250);
  padding: 0;
  margin: 0;
}
.exemplo {
  background: rgba(240, 11, 11, 0.72);
  font-size: 24px;
  padding: 20PX;
  text-align: right;
  border-radius: 10px;
  font-family: 'Aladin', cursive;
}

.gatos{
background-color: rgb(255, 122, 34);
text-align: center;
padding: 20px;
text-align: right;
text-align: center;
border-radius: 10px;
font-family: 'Aladin', cursive;
}

.cachorro{
text-align: center;
background-color: rgb(89, 142, 240);
padding: 20px;
text-align: right;
text-align: center;
border-radius: 10px;
font-family: 'Aladin', cursive;
}

h2{
  text-align: center;
}
 


#menu ul{
  padding: 0px;
  margin: 0px;
  background-color: #ededed;
  list-style: none;
  text-align: center;
  border-radius: 10px;
  font-family: 'Aladin', cursive;
}


#menu ul li{
display: inline;
}

#menu ul li a {
padding: 2px 10px;
display> inline-block;
background-color: #ededed;
color: rgb(0, 0, 0);
text-decoration: none;
box-shadow: 3px solid #ededed;

}
#menu ul li a:hover{
background-color: #d6d6d6;
color: #6d6d6d;
border-bottom: 4px solid black;
}